//css animations
//https://gist.github.com/DevinVinson/7508613#file-demo-html
/* Keyframes for the fade-in */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    background-image: url("../images/bg.jpg");
  }
  20% {
    background-image: url("../images/Electronic.jpg");
  }
  40% {
    background-image: url("../images/IOT.jpg");
  }
  60% {
    background-image: url("../images/dictionary.jpg");
  }
  80% {
    background-image: url("../images/bi.PNG");
  }
}

.fade-in {
  opacity: 0.6;
  opacity: 1 \9; /*just in case ie*/
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: slide 30s infinite;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}

.fade-in.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
